body {
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(180deg, #9e468763, transparent);
}

.head {
    background: linear-gradient(45deg, #ff0046, #1781c7cc);
}

.container { 
    height: 200px;
    position: relative;
    border: none; 
}
.id {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0em 0em 0em;
    font-size: x-large;
    font-weight: 800;
    padding: 1.5em;
    color: white;
}


.button {
    margin: 2em 0 3em 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    width: 20em;
    border-radius: 10em;
    background: linear-gradient(45deg, #ff0046, #ff00008c);
    color: white;
    font-weight: 700;
  }
  .title {
    text-align: center;
  }
  .poster {
    /* align-items: center; */
    /* place-items: center; */
    /* background: center; */
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.movieDisplay {
    background: linear-gradient(359deg, #0000000d, transparent);
}
.head {
    background: linear-gradient(45deg, #ff0046, #1781c7cc);
}


.prevSecContainer{


}

.prevSec {
    padding: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(1deg, #5180bd70, #f2f2f2);
}
  .prevList {
      list-style: none;
    display: flex;
}
.prevMovieTitle {
    display: block;
}
.movieli {
    text-align: center;
    height: 150px;
    width: 100px;
    margin: 0px 25px;
}



.hidden {
    display: none;
    background-color: transparent;
    background: transparent;
}

#modal {
    text-align: center;
    font-weight: bold;
}
