

body {
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


.container { 
    height: 200px;
    position: relative;
    border: none; 
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10em 0em 0em 0em;
    font-size: x-large;
    font-weight:600 ;
}


.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 4em;
    width: 20em;
    border-radius: 10em;
    background-color: rgb(209, 104, 104);
    color: white;
    font-weight: 700;
  }


.prevSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .prevList {
      list-style: none;
    display: flex;
}
.prevMovieTitle {
    display: block;
}
.movieli {
    text-align: center;
    height: 150px;
    width: 100px;
    margin: 0px 25px;
}